js-2-cards/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Card -->
  <xs:complexType name="Card">
    <xs:sequence minOccurs="1">
      <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="title" type="xs:string" use="required" />
  </xs:complexType>
  
  <!-- Document -->
  <xs:complexType name="Document">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element maxOccurs="unbounded" name="card" type="Card" />
    </xs:sequence>
  </xs:complexType>
  
  <!-- root element -->
  <xs:element name="doc" type="Document" />
</xs:schema>